@import url(./__content/popup__content.css);
@import url(./__content/_content/popup__content_content_image.css);
@import url(./__opened/popup__opened.css);
@import url(./__image/popup__image.css);
@import url(./__close/popup__close.css);
@import url(./__caption/popup__caption.css);

.popup {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: visibility 0s 0.6s, opacity 0.6s;
}