.about-us__title {
    margin: 0 0 20px;
    font-family: 'monsBold', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
}

@media screen and (max-width: 1366px) {
    .about-us__title {
        font-size: 30px;
        margin: 0 0 10px;
    }
}

@media screen and (max-width: 980px) {
    .about-us__title {
        margin-top: 10px;
    }
}