.projects__text-description {
    margin: 0 0 20px;
    font-family: 'monsLig', sans-serif;
    font-size: 18px;
}

@media screen and (max-width: 1670px) {
    .projects__text-description {
        margin: 0 10px 20px;
        font-size: 14px;
    }
}