.about-us__text {
    margin: 0;
    max-width: 800px;
}

@media screen and (max-width: 1366px) {
    .about-us__text {
        max-width: 650px;
    }
}

@media screen and (max-width: 1100px) {
    .about-us__text {
        max-width: 550px;
    }
}

@media screen and (max-width: 980px) {
    .about-us__text {
        text-align: left;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .about-us__text {
        margin: 0 25px;
    }
}