.projects__image_shadow {
    -webkit-box-shadow: 0px 0px 40px 10px rgba(62, 66, 66, 0.22);
    -moz-box-shadow: 0px 0px 40px 10px rgba(62, 66, 66, 0.22);
    box-shadow: 0px 0px 40px 10px rgba(62, 66, 66, 0.22);
}