.projects__image {
    cursor: pointer;
    width: 650px;
    height: 400px;
    border-radius: 8px;
}

@media screen and (max-width: 1670px) {
    .projects__image {
        width: 55%;
        height: 55%;
    }
}

@media screen and (max-width: 1125px) {
    .projects__image {
        width: 610px;
        height: 405px;
    }
}


@media screen and (max-width: 670px) {
    .projects__image {
        width: 400px;
        height: 300px;
    }
}

@media screen and (max-width: 422px) {
    .projects__image {
        width: 300px;
        height: 200px;
    }
}