.popup__content{
    max-width: 430px;
    width: 100%;
    min-height: 330px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 34px 36px;
}