.root {
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;
    background-color: #ffffff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


body {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #ffbf00;
    --sb-size: 6px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }