.contacts__element {
    padding: 0;
    list-style-type: none;
}

.contacts__element:last-of-type {
    text-align: center;
}

@media screen and (max-width: 980px) {
    .contacts__element:last-of-type {
        text-align: left;
    }
}