.about-us__hover {
    cursor: pointer;
    color: inherit;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.3s ease-in-out, text-decoration-thickness 0.3s ease-in-out;
}

.about-us__hover:hover {
    text-decoration-line: underline;
    text-decoration-style: "solid";
    text-decoration-color: #FFBF00;
    text-decoration-thickness: 5px;
}